.Background {
    /*background-image: url('../html/imagens/bg.png');*/
    background-color: #d7b4ec;
    /*background-color: rgba(255, 255, 255, 0.9); /* Cor com transparência */
    backdrop-filter: blur(10px); /* Efeito de desfoque para simular vidro */
    border-radius: 10px 0px 10px 0px; /* Bordas arredondadas */
    min-height: 100vh; /* Altura mínima igual à altura da viewport */
    
   }

/*.square {
    background-color: rgba(255, 255, 255, 0.9); /* Cor com transparência 
    backdrop-filter: blur(10px); /* Efeito de desfoque para simular vidro 
    border-radius: 10px; /* Bordas arredondadas 
    min-height: 100vh; /* Altura mínima igual à altura da viewport 
  }
*/

 .sidebar {
    min-height: 100vh; /* Altura mínima igual à altura da viewport */
  }
  

.nav-link {
    color: #b576d9; /* Cor normal dos links */
}

/* Cor dos links quando hover na navbar */
.nav-link:hover {
    color: #ff9900; /* Cor dos links ao passar o mouse */
}

.icon-sm {
    width: 24px; /* Largura desejada */
    height: auto; /* Altura automática para manter a proporção */
    margin-right: 8px; /* Espaçamento entre a imagem e o texto */
    vertical-align: middle; /* Alinha verticalmente com o texto */
    color:#b576d9;
  }
  

.conta {
    margin-top: 100px;
  }