<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body class="Background">
  <section class="h-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <section>
            <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
              <div class="container">
                <div class="row gx-lg-5 align-items-center">
                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight" style="color: #b576d9">
                      Volunteers | <br />
                      <span>Gestão de Voluntários</span>
                    </h1>
                    <p style="color:#b576d9">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                      quibusdam tempora at cupiditate quis eum maiores libero
                      veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                  </div>

                  <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                      <div class="card-body py-5 px-md-5">
                        <form id="cadastroForm" action="/cadastro" method="POST">
                          <div class="row">
                            <div class="col-md-6 mb-4">
                              <div data-mdb-input-init class="form-outline">
                                <input type="text" id="nome" class="form-control" name="nome" required />
                                <label class="form-label" for="nome">Nome</label>
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <div data-mdb-input-init class="form-outline">
                                <input type="text" id="sobrenome" class="form-control" name="sobrenome" required/>
                                <label class="form-label" for="sobrenome">Sobrenome</label>
                              </div>
                            </div>
                          </div>

                          <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="email" class="form-control" name="email" required/>
                            <label class="form-label" for="email">Email</label>
                          </div>

                          <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="senha" class="form-control" name="senha" required/>
                            <label class="form-label" for="senha">Senha</label>
                          </div>

                          <div data-mdb-input-init class="form-outline mb-4">
                            <input type="tel" id="telefone" class="form-control" name="telefone" required/>
                            <label class="form-label" for="telefone">Telefone</label>
                          </div>

                          <div data-mdb-input-init class="form-outline mb-4">
                            <input type="date" id="data_nascimento" class="form-control" name="data_nascimento" required/>
                            <label class="form-label" for="data_nascimento">Data de Nascimento</label>
                          </div>

                          <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="endereco" class="form-control" name="endereco" required/>
                            <label class="form-label" for="endereco">Endereço</label>
                          </div>

                          <button type="submit" class="btn btn-primary btn-block mb-4">
                            Fazer Cadastro
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const cadastroForm = document.getElementById('cadastroForm');

      cadastroForm.addEventListener('submit', function (event) {
        event.preventDefault();

        const formData = new FormData(cadastroForm);
        const data = {};
        formData.forEach((value, key) => {
          data[key] = value;
        });

        axios.post('/auth/cadastro', data)
          .then(response => {
            Swal.fire({
              icon: 'success',
              title: 'Cadastro realizado',
              text: response.data.message,
            });
            setTimeout(() => {
                document.location.href = '/login'
              }, 2500);
          })
          .catch(error => {
            console.error('Erro ao fazer cadastro:', error);
            Swal.fire({
              icon: 'error',
              title: 'Erro ao fazer cadastro',
              text: 'Ocorreu um erro ao realizar o cadastro. Tente novamente.',
            });
          });
      });
    });
  </script>
</body>
</html>
