<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
  <title>Controle</title>
</head>

<body class="bg-light bac ">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-5 col-lg-2 d-md-block bg-white sidebar shadow-sm rounded vh-100 sidebar">
        <div class="text-center py-4">
          <img src="imagens/logoV.png" height="100px" alt="Logo" href="/views/index.ejs">
        </div>
        <ul class="nav flex-column text-center align-items-center">
          <li class="nav-item">
            <a class="nav-link active" href="/home">
              <img src="imagens/home.png" alt="Home" class="nav-icon icon-sm align-items-center">
              Home
            </a>
          </li>
          <li class="nav-item align-items-center">
            <a class="nav-link" href="/eventos">
              <img src="imagens/evento.png" alt="Eventos" class="nav-icon icon-sm align-items-center">
              Eventos
            </a>
          </li>
          <li class="nav-item align-items-center">
            <a class="nav-link" href="/agenda">
              <img src="imagens/agenda.png" alt="Agenda" class="nav-icon icon-sm align-items-center">
              Agenda
            </a>
          </li>
          <li class="nav-item align-items-center">
            <a class="nav-link" href="/experiencias">
              <img src="imagens/xp.png" alt="Experiências" class="nav-icon icon-sm align-items-left">
              Experiências
            </a>
          </li>
          <li class="nav-item align-items-center">
            <a class="nav-link" href="/graficos">
              <img src="imagens/graficos.png" alt="Gráficos" class="nav-icon icon-sm align-items-center">
              Gráficos
            </a>
          </li>
          <li class="nav-item mt-auto conta align-items-center">
            <a class="nav-link" href="/conta">
              <img src="imagens/perfil.png" alt="Conta" class="nav-icon icon-sm align-items-center">
              Conta
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main content -->
      <main class="col-md-9 ml-sm-auto col-lg-10 px-4 vh-100 d-inline-block Background ">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
          <h1 class="h2 text-light">Eventos</h1>
        </div>
      </main>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>    
