<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="/script/script.js"></script>
  <link rel="stylesheet" href="../css/style.css">
  <title>Controle</title>
</head>

<body class="bg-light bac ">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-5 col-lg-2 d-md-block bg-white sidebar shadow-sm rounded vh-100 sidebar">
        <div class="text-center py-4">
          <img src="imagens/logoV.png" height="100px" alt="Logo" href="/views/index.ejs">
        </div>
        <ul class="nav flex-column text-center align-items-center">
          <li class="nav-item">
            <a class="nav-link active" href="/home">
              <img src="imagens/home.png" alt="Home" class="nav-icon icon-sm align-items-center">
              Home
            </a>
          </li>
          <li class="nav-item align-items-center">
            <a class="nav-link" href="/eventos">
              <img src="imagens/evento.png" alt="Eventos" class="nav-icon icon-sm align-items-center">
              Eventos
            </a>
          </li>
          <li class="nav-item align-items-center">
            <a class="nav-link" href="/agenda">
              <img src="imagens/agenda.png" alt="Agenda" class="nav-icon icon-sm align-items-center">
              Agenda
            </a>
          </li>
          <li class="nav-item align-items-center">
            <a class="nav-link" href="/experiencias">
              <img src="imagens/xp.png" alt="Experiências" class="nav-icon icon-sm align-items-left">
              Experiências
            </a>
          </li>
          <li class="nav-item align-items-center">
            <a class="nav-link" href="/graficos">
              <img src="imagens/graficos.png" alt="Gráficos" class="nav-icon icon-sm align-items-center">
              Gráficos
            </a>
          </li>
          <li class="nav-item mt-auto conta align-items-center">
            <a class="nav-link" href="/conta">
              <img src="imagens/perfil.png" alt="Conta" class="nav-icon icon-sm align-items-center">
              Conta
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main content -->
      <main class="col-md-9 ml-sm-auto col-lg-10 px-4 vh-100 d-inline-block Background ">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
          <h1 class="h2 text-light">Gráficos</h1>
        </div>
        <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        <script>
          var xyValues = [
            {x:50, y:7},
            {x:60, y:8},
            {x:70, y:8},
            {x:80, y:9},
            {x:90, y:9},
            {x:100, y:9},
            {x:110, y:10},
            {x:120, y:11},
            {x:130, y:14},
            {x:140, y:14},
            {x:150, y:15}
          ];
          
          new Chart("myChart", {
            type: "scatter",
            data: {
              datasets: [{
                pointRadius: 4,
                pointBackgroundColor: "rgb(0,0,255)",
                data: xyValues
              }]
            },
            options: {
              legend: {display: false},
              scales: {
                xAxes: [{ticks: {min: 40, max:160}}],
                yAxes: [{ticks: {min: 6, max:16}}],
              }
            }
          });
          </script>
      </main>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>    
